<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- MY CSS-->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" type="image/x-icon" href="/public/images/logo_plain.png">
    <title>Muscle Hustle | Sign In</title>

</head>
  <body class="text-center" id="login">
    <main class="form-signin">
        <form action="/login" method="post" class="mt-5 p-2 rounded bg-light bg-gradient">
          <img class="mb-4" src="/public/images/logo.png" alt="" width="225" height="150">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="User Name" name="username">
            <label for="floatingInput">User Name</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <br>
          <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" value="login">Sign in</button>
          <br>
          <p> Don't have an account ? <a href="/registration">Register</a></p>
          <p class="mt-5 mb-3 text-muted">© 2022</p>
        </form>
      </main>

  </body>
</html>