.card-body{
    height: 150px;
}

#myVideo {
    position: fixed;
    right: 5px;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}


.form-signin{
    width: 100%;
    max-width: 450px;
    padding:15px;
    margin:auto;
}
.login{
    background-image: url('/images/squats.gif');
    background-size:cover;
}
.registration{
    background-image: url('/images/workout.gif');
    background-size:cover;
}
.add-workout-icon{
    font-size: 25px;
    color: green;
}
.add-workout-btn{
    float:right;
    margin-top: -12px;
}
.exercise-data{
    height: 100px;
    overflow: hidden;
}
.card-body {
    height: 70px;
}

.exerecise-results{
    overflow: scroll;
    height: 750px;
}
#reg_image{
    width: 230px !important;
    height: 150px !important;
    margin:auto;
} 

